
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!--

Template 2093 Flight

http://www.tooplate.com/view/2093-flight

-->
    <title>Flight - Contact Page</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" href="{{url_for('static',filename='img/apple-touch-icon.png')}}" />

    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap-theme.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/fontAwesome.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/hero-slider.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/owl-carousel.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/tooplate-style.css')}}">

    <link
      href="https://fonts.googleapis.com/css?family=Spectral:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />

    <script src="{{url_for('static',filename='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js')}}"></script>
  </head>

  <body>
    <section class="page-heading" id="top">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="logo">
              <img src="{{url_for('static',filename='img/logo.png')}}" alt="Flight Template" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="page-direction-button">
              <a href="{{url_for('index')}}"><i class="fa fa-home"></i>Go Back Home</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="contact-us">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2 style="font-size: 150%;  background-color: rgb(233, 213, 33);border: 5px solid rgb(26, 22, 22); letter-spacing: 5px; padding: 10px;">Contact Information</h2>
              <p>
            Started in 2010, FlightsBook quickly established itself as
            a culinary icon par excellence in India. With its unique brand
            of world Class Hospitality that can be found nowhere else, it enjoys
            patronage from the A-list clientele in India.
              </p>
            </div>
          </div>
        </div>
          <div class="row row-content">
              <div class="col"></div>
            <div class="col">
              <h2 style="color: rgb(8, 8, 8); background-color: rgb(233, 213, 33); border: 5px solid rgb(26, 22, 22); letter-spacing: 5px; padding: 10px;">Facts &amp; Figures</h2>
              <div class="table-responsive">
                <table class=" table table-striped">
                  <thead class="thead-dark">
                    <tr>
                      <th>&nbsp;</th>
                      <th>2013</th>
                      <th>2014</th>
                      <th>2015</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>Employees</th>
                      <td>70</td>
                      <td>300</td>
                      <td>400</td>
                    </tr>
                    <tr>
                      <th>Tourists Served</th>
                      <td>15000</td>
                      <td>45000</td>
                      <td>100,000</td>
                    </tr>
                    <tr>
                      <th>Annual TurnOver</th>
                      <td>$251,325</td>
                      <td>$1,250,375</td>
                      <td>~$3,000,000</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col"><h1 style="font-size: 150%; background-color: rgb(233, 213, 33); color: rgb(17, 16, 16);border: 5px solid rgb(26, 22, 22); letter-spacing: 5px; padding: 10px; text-align: center;">Location Information</h1></div>
          </div>
          </section>
        <section>
          <div class="row align-items-center">
            <div class="col-12 col-sm-4">
            </div>
            <div class="col-12 col-sm-3 offset-sm-1">
              <h3>Our Address</h3>
              <address style="font-size: 100%;">
                121, Clear Water Bay Road<br />
                Clear Water Bay, Kowloon<br />
                Navi Mumbai<br />
                <i class="fa fa-phone"></i>: +852 1234 5678<br />
                <i class="fa fa-fax"></i>: +852 8765 4321<br />
                <i class="fa fa-envelope"></i>:
                <a href="mailto:confusion@food.net">fightsbook.net</a>
              </address>
            </div>
            <div class="col-12 col-sm-3 offset-sm-1">
              <h3 style="font-size: 150%; color: rgb(12, 11, 11); background-color: rgb(233, 213, 33); border: 5px solid rgb(114, 103, 129);">Map of our Location</h3>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22433.22766269862!2d73.00973090241!3d19.020711367641002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b9f0b81f13ad%3A0x3c12f7681185f869!2sNavi%20Mumbai%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1596381893756!5m2!1sen!2sin" frameborder="0" style="border:0;"></iframe>
            </div>
          </div>
        </section>
    <section class="contact-form">
      <div class="container">
        <div class="row row-content">
            <div class="col-12">
              <h3 style="color: rgb(184, 171, 171); border: 5px solid rgb(229, 233, 24); letter-spacing: 5px; padding: 10px;">Send us your Feedback</h3>
            </div>
            <div class="col-12 col-md-9">
              <form action="{{url_for('feedback')}}" method="post">
                <div class="form-group row">
                  <label for="firstname" class="col-md-2 col-form-label"
                  style="color: #fff">First Name</label
                  >
                  <div class="col-md-10">
                    <input
                      type="text"
                      class="form-control"
                      id="firstname"
                      name="firstname"
                      placeholder="First Name"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="lastname" class="col-md-2 col-form-label" style="color: #fff"
                    >Last Name</label
                  >
                  <div class="col-md-10">
                    <input
                      type="text"
                      class="form-control"
                      id="lastname"
                      name="lastname"
                      placeholder="Last Name"
                    />
                  </div>
                </div>
    
                <div class="form-group row">
                  <label for="telnum" class="col-12 col-md-2 col-form-label"
                  style="color: #fff">Contact Tel.</label
                  >
                  <div class="col-5 col-md-3">
                    <input
                      type="tel"
                      class="form-control"
                      id="areacode"
                      name="areacode"
                      placeholder="Area Code"
                    />
                  </div>
    
                  <div class="col-7 col-md-7">
                    <input
                      type="tel"
                      class="form-control"
                      id="telnum"
                      name="telnum"
                      placeholder="Tel. Number"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="emailid" class="col-md-2 col-form-label" style="color: #fff">Email</label>
                  <div class="col-md-10">
                    <input
                      type="email"
                      class="form-control"
                      id="emailid"
                      name="emailid"
                      placeholder="Email"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-6 offset-md-2">
                    <div class="form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        name="approve"
                        id="approve"
                        value="Y"
                      />
                      <label class="form-check-label" for="approve">
                        <strong style="color: #fff">May We Contact You?</strong>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-3 offset-md-1">
                    <select name="how" class="form-control">
                      <option value="Phone">Tel.</option>
                      <option value="Email">Email</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="feedacK" class="col-md-2 col-form-label"
                  style="color: #fff">Your Feedback</label
                  >
                  <div class="col-md-10">
                    <textarea
                      class="form-control"
                      id="feedback"
                      name="feedback"
                      rows="12"
                    ></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="offset-md-2 col-md-10">
                    <button type="submit" class="btn btn-primary">
                      Send Feedback
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-12 col-md"></div>
          </div>
        </div>
      </div>
    </section>

  

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="primary-button">
              <a href="#" class="scroll-top">Back To Top</a>
            </div>
          </div>
          <div class="col-md-12">
            <ul class="social-icons">
              <li>
                <a href="https://www.facebook.com/tooplate"
                  ><i class="fa fa-facebook"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-rss"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-behance"></i></a>
              </li>
            </ul>
          </div>
          <div class="col-md-12">
            <p>
              Copyright &copy; 2018 Flight Tour and Travel Company | 
            </p>
          </div>
        </div>
      </div>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
      window.jQuery ||
        document.write(
          '<script src="{{url_for('static',filename='js/vendor/jquery-1.11.2.min.js')}}"><\/script>'
        );
    </script>

    <script src="{{url_for('static',filename='js/vendor/bootstrap.min.js')}}"></script>

    <script src="{{url_for('static',filename='js/plugins.js')}}"></script>
    <script src="{{url_for('static',filename='js/main.js')}}"></script>

    <script
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"
      type="text/javascript"
    ></script>
    <script type="text/javascript">
      $(document).ready(function () {
        // navigation click actions
        $(".scroll-link").on("click", function (event) {
          event.preventDefault();
          var sectionID = $(this).attr("data-id");
          scrollToID("#" + sectionID, 750);
        });
        // scroll to top action
        $(".scroll-top").on("click", function (event) {
          event.preventDefault();
          $("html, body").animate({ scrollTop: 0 }, "slow");
        });
        // mobile nav toggle
        $("#nav-toggle").on("click", function (event) {
          event.preventDefault();
          $("#main-nav").toggleClass("open");
        });
      });
      // scroll function
      function scrollToID(id, speed) {
        var offSet = 0;
        var targetOffset = $(id).offset().top - offSet;
        var mainNav = $("#main-nav");
        $("html,body").animate({ scrollTop: targetOffset }, speed);
        if (mainNav.hasClass("open")) {
          mainNav.css("height", "1px").removeClass("in").addClass("collapse");
          mainNav.removeClass("open");
        }
      }
      if (typeof console === "undefined") {
        console = {
          log: function () {},
        };
      }
    </script>
  </body>
</html>
